<footer>
  <div class="content-wrapper footer-wrapper">
    <section class="copy">
      <h2>Crypto.</h2>
    </section>

    <section class="footer-links-grid">
      <div class="footer-column" *ngFor="let footerRoute of footerRoutes">
        <h3>{{ footerRoute.linkHeading }}</h3>
        <nav>
          <ul>
            <li *ngFor="let footerLink of footerRoute.footerLinks">
              {{ footerLink }}
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</footer>
