@import 'src/variables.scss';

footer{
  background: $color-primary;
  border-top: 1px solid $color-gray;
  padding: 6rem 0;

  *{
    color: $color-white;
  }

  p,li{
    color: $color-primary-light-2;
  }

  .footer-wrapper{
    @media (min-width: 768px){
      display: flex;
      justify-content: space-between;
      gap: 13rem;
    }
  }

  .copy{
    width: 90%;

    h2{
      margin-bottom: 4rem;
     
    }

    @media (min-width: 768px){
      width: 30%;

      h2{
        margin-bottom: 0;
      
      }
    }
  }

  .footer-links-grid{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .footer-column{
      h3, li{
        margin-bottom: 1rem;
      }
    }

    @media (min-width: 768px){
      width: 60%;
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}