<footer>
  <div class="content-wrapper footer-wrapper" >
    <!-- NEWSLETTER SECTION -->
    <section class="newsletter-section">
      <div class="copy">
        <h2>Crypto.</h2>
        <p>
          Get insider investing and crypto resources straight to your inbox
          every week.
        </p>
      </div>

      <form>
        <input type="email" />
        <button type="submit">Join</button>
      </form>
    </section>

    <div class="footer-links-grid">
      <div class="footer-column" *ngFor="let footerRoute of footerRoutes">
        <h3>{{ footerRoute.linkHeading }}</h3>
        <nav>
          <ul>
            <li *ngFor="let footerLink of footerRoute.footerLinks">
              {{ footerLink }}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
