<div class="hero-section">
  <div class="content-wrapper">
    <!-- HEADER SECTION -->
    <app-header></app-header>

    <!-- HERO SECTION -->
    <section class="hero-content flex-container">
      <div class="copy">
        <h1>Trusted by over 1 million users</h1>
        <p>
          Manage your cryptocurrency with ease — our rates are the lowest in the
          industry to buy, sell and manage all in 1 place. The easiest platform
          to convert crypto holdings to cash.
        </p>
      </div>

      <img src="/assets/hero-img.png" alt="hero illustration" />
    </section>

    <!-- END OF CONTENT WRAPPER -->
  </div>
</div>

<!-- FEATURES SECTION -->
<section class="features-section">
  <div class="content-wrapper">
    <div class="flex-container">
      <div class="copy">
        <h2>As powerful or as simple as you need it be</h2>
        <p>
          Customise your mobile and desktop apps to show as much data as you
          need to make the best fininacial investments. Ease of use has been
          baked in from day 1.
        </p>
      </div>

      <img src="/assets/graph.png" alt="graph illustration" />
    </div>
  </div>
</section>

<!-- TESTIMONIAL SECTION -->
<section class="testimonial-section separator">
  <div class="content-wrapper">
    <div class="flex-container">
      <img src="/assets/guy.png" alt="a man" />
      <div class="copy">
        <h2>
          How Rick used <span>Crypto</span> to manage and grow his portofolio by
          1200%
        </h2>
        <p>
          Rick is a lead developer at startup Shackle. Adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- PRIVACY SECTION -->
<section class="privacy-section separator">
  <div class="content-wrapper">
    <div class="flex-container">
      <img src="/assets/privacy.png" alt="a man" />
      <div class="copy">
        <h2>Privacy and security prioritised in from the beginning.</h2>
        <p>
          Our technology is built on top of Cloud7 propriertary - the most
          trusted platform when it comes to cyber security. NASA, the FBI and
          Amazon use this very platform so you are in safe hands.
        </p>
        <h3>Trusted by 1,000,000+ users</h3>
      </div>
    </div>
  </div>
</section>

<!-- CTA SECTION -->
<section class="cta-section separator">
  <div class="content-wrapper">
    <div class="flex-container">
      <img src="/assets/cta.png" alt="an illustration" />
      <div class="copy cta">
        <h2>Start building your crypto holdings today!</h2>
        <button>I am ready to get started</button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
