$color-white: #ffffff;
$color-text: #6d6d6d;
$color-black: #000000;
$color-gray: #E0DADA;

$color-primary: #0032e3;
$color-primary-light: #e8eef8;
$color-primary-light-2: #bccbfe;

$border-radius: 10px;
